section, .contenedor{
    width: 100% !important;
}

#menu{
    margin: 30px;
}

.texto{
    font-size: 36px;
    padding: 15px;
    margin: 30px;
}

*{
    color: greenyellow !important;
}

