<div>
    <h1>Convertidor Monetario</h1>
    <button class="btn btn-warning" id="botonTipoCambio">Tipo de Cambio</button>
    <div id="datosJSON"></div>
    
    <h2>Conversión</h2>
    <div>
        <input type="number" id="entradaPesos" placeholder="Pesos" />
        <button id="botonConvertirPesos">=></button>
        <input type="text" id="salidaDolares" placeholder="Dólares" readonly />
    </div>
    <div>
        <input type="number" id="entradaDolares" placeholder="Dólares" />
        <button id="botonConvertirDolares">=></button>
        <input type="text" id="salidaPesos" placeholder="Pesos" readonly />
    </div>
</div>
