<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <!-- Bootstrap CSS -->
    <link href="style/myStyle.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Servicios Dentales</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" onclick="cargarModuloPacientes();">Módulo Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="cargarModulo2();">Módulo 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="cargarModulo3();">Módulo 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="cargarModuloDolarFIX();">Tipo de Cambio Dolar FIX</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--------------------------------------------MAIN--------------------------------------------------------->
    <main id="contenedorPrincipal" style="margin-top: 80px;">


    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Servicios Dentales. Todos los derechos reservados.</p>
        </div>
    </footer>
    <!-- Bootstrap JS -->
     <script src="../js/principal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>